<!-- PRELOADER -->
		<div id="preloader">
			<div id="loading-animation">&nbsp;</div>
		</div>

<!-- HTML5 VIDEO -->
		<video id="video_background" class="video_bg" preload="auto" autoplay loop= muted>
			<source src="video/video.mp4" type="video/mp4">
			<source src="video/video.ogv" type="video/ogg">
			<source src="video/video.webm" type="video/webm">
		</video>

<!-- Site Logo -->
		<div class="site-logo">
			<a href="#home" class="move-to" data-section-background="image-1">
				<img src="images/logo.png" alt="My Next Match Logo" />
			</a>
		</div>

<!-- Site Nav -->
		<nav class="site-nav">
			<ul>
				<li><a href="#home" title="Home" class="move-to active"><span></span></a></li>
				<li><a href="#about" title="About" class="move-to"><span></span></a></li>
				<li><a href="#subscribe" title="Subscribe" class="move-to"><span></span></a></li>
				<li><a href="#contact" title="Contact" class="move-to"><span></span></a></li>
			</ul>
			<div class="line vertical top"></div>
			<div class="line vertical bottom"></div>
		</nav>

		<div class="main-container">
			<section id="home" class="section home on-menu fullscreen-element">
				<div class="section-container">
					<div class="element-table">
						<div class="table-cell">
							<div class="container">
								<div class="row">
									<div class="col-md-12 text-center">

										<div class="flexslider textslider bottom-margin animated" data-animation="fadeInUp" data-animation-delay="700">
											<ul class="slides">
												<li>
													<h1>The social capital of <strong>sport</strong></h1>
												</li>
												<li>
													<h1>The social capital of <strong>sport</strong></h1>
												</li>
												<li>
													<h1>The social capital of <strong>sport</strong></h1>
												</li>
											</ul>
										</div>
										<p class="lead animated"
                       data-animation="fadeInUp"
                       data-animation-delay="800">
											MyNextMatch is a single platform solution for communication and knowledge sharing in competitive and recreational combat sports.
											<br><br>

											Combining a diverse range of systems currently utilised in sports information management, it creates one easily accessible location
											for the recording and sharing of information.

										</p>
										<div class="buttons-group animated" data-animation="fadeInUp" data-animation-delay="900">
											<a href="#subscribe"
                         class="button button-border button-white move-to">
												Subscribe
											</a>
											<a href="#about"
                         class="button button-link button-white move-to">
												Learn more <i class="fa fa-angle-down"></i>
											</a>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<section id="about" class="section on-menu fullscreen-element">
				<div class="section-container">
					<div class="element-table">
						<div class="table-cell">
							<div class="container">
								<div class="row">
									<div class="col-md-12 text-center">
										<div class="section-header animated" data-animation="fadeInUp" data-animation-delay="700">
											<h2 class="section-title">About Us</h2>
											<div class="line-separate line-white line-center"><span></span></div>
											<p>Welcome to My Next Match</p>
										</div>
										<div class="row animated" data-animation="fadeInUp" data-animation-delay="800">
											<div class="col-md-4 text-left">
												<p>
													MyNextMatch is a unique tool; bringing clubs, competitors, fans, federations and sponsors together to overcome the
													logistical nightmare of organised sport.<br><br>

													We’re already revolutionising the way combat sports are organised with our unique database and algorithm taking the
													hassle out of finding an opponent or training partner.

												</p>
											</div>
											<div class="col-md-4 text-left">
												<p>
													Real time, detailed information allows for accurate matches, and gives coaches and athletes the ability to monitor their performance.
 													<br><br>
													Our digital medical card is endorsed by International chief doctors and bridges all combat sports, ensuring athlete safety is a number one priority.
												</p>
											</div>
											<div class="col-md-4 text-left">
												<p>
													Follow your progression in Courses and sign up for Tryout events.<br>

													Create and manage events, book athletes, and focus solely on your sport and performances.<br><br>

													Stay in touch with competitors, clubs and federations through our social tool and attract sponsors through or
													social media integrated publishing platform.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<section id="subscribe" class="section on-menu fullscreen-element">
				<div class="section-container">
					<div class="element-table">
						<div class="table-cell">
							<div class="container">
								<div class="row">
									<div class="col-md-10 col-md-offset-1 text-center">

										<div class="section-header animated" data-animation="fadeInUp" data-animation-delay="700">
											<h2 class="section-title">Subscribe</h2>
											<div class="line-separate line-white line-center"><span></span></div>
											<p>
												We are currently piloting the platform in 5 countries, if you would like to be notified as soon as we launch in your country,
												please register your interest.
											</p>
										</div>
										<!-- Subscribe Form -->
										<div class="form animated" data-animation="fadeInUp" data-animation-delay="800">
											<div class="form-container">
												<div class="page-section" id="signup">
													<form class="subscription-form mailchimp" method="post" id="mc-form">
														<input type="email" id="email" class="width-auto no-bottom-margin" name="email" placeholder="Enter Your Email Address" />
														<button type="submit" id="subscribebtn" class="button button-border button-white no-bottom-margin">Subscribe</button>
													</form>
													<p class="error-message"></p>
													<p class="success-message"></p>
												</div><!--end page section -->
											</div><!-- end form container -->
										</div><!-- end Subscribe Form -->

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<section id="contact" class="section on-menu fullscreen-element">
				<div class="section-container">
					<div class="element-table">
						<div class="table-cell">
							<div class="container">
								<div class="row">
									<div class="col-md-10 col-md-offset-1 text-center">

										<div class="section-header no-padding animated" data-animation="fadeInUp" data-animation-delay="700">
											<h2 class="section-title">Contact Us</h2>
											<div class="line-separate line-white line-center"><span></span></div>
											<p>
												There are thousands of athletes, coaches, teams, clubs, federations that are currently using our platform.
												<br>
												If you are a sporting team, club, federation official or coach, and would like more information on how to implement the
												platform and manage your organisation more efficiently, please get in touch. we would love to hear from you. Even to say Hi!!
											</p>
										</div>

										<hr class="animated" data-animation="fadeInUp" data-animation-delay="1000"/>

										<form method="post"
                          action="send-mail.php"
                          class="contact-form animated"
                          data-animation="fadeInUp"
                          data-animation-delay="1100">
											<div class="row">
												<div class="col-md-4">
													<input type="text"
                                 name="name"
                                 placeholder="Name"
                                 class="required">
												</div>
												<div class="col-md-4">
													<input type="email"
                                 name="email"
                                 placeholder="Email address"
                                 class="contact-form-email required">
												</div>
												<div class="col-md-4">
													<input type="text"
                                 name="subject"
                                 placeholder="Subject"
                                 class="contact-form-subject">
												</div>
											</div>
											<textarea name="message"
                                placeholder="Message"
                                class="required"
                                rows="7"></textarea>
											<div class="response-message"></div>
											<button class="button button-border button-white"
                              type="submit"
                              id="submit"
                              name="submit">
												Send Message
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<div class="overlay">
			<div class="gradient-overlay background-blue-dark opacity-70"></div>
		</div>

		<footer class="site-footer">
			<p class="copyright">© 2015 Mynextmatch - All Rights Reserved</p>
			<nav class="socials-icons">
				<ul>
					<li><a href="#"><i class="ion-social-twitter"></i></a></li>
					<li><a href="#"><i class="ion-social-facebook"></i></a></li>
					<li><a href="#"><i class="ion-social-googleplus"></i></a></li>
				</ul>
				<div class="line horizontal left"></div>
			</nav>
		</footer>
